
*{
    /* border: 2px dotted red; */
    padding: 0;
    margin: 0;
}

body {
    background-color: greenyellow;
}

/* Clases para Landing */

div {
    text-align: center;
    /* background-color: aquamarine; */
}

ul{
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    /* flex-direction: column; */
}

ul div{
    /* background-color: aqua; */
    padding-top: 10px;
    padding-bottom: 10px;
    border: 3px solid beige;
    margin: 10px;
}

div li {
    border: 1px solid black;
    border-radius: 20%;
    color: rgb(0, 52, 97);
    list-style-type: none;
    /* background-color: aquamarine; */
    /* margin: 3px; */
    position: relative;
    max-width: fit-content;
    margin: 0 auto;
    padding: 1px 8px;
}

div li::before{
    content: "";
    position: absolute;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    border: 1px solid yellow ;
    /* color: black;
    background-color: none; */
    left: 1px;
    top: 50%;

}

.d-flex{
    /* display: flex;
    justify-content: center; */
}

/* Estilos componente "PokemonInfo" */

section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.expand-pokemon{
    background-color: firebrick;
    width:300px ;
    height: auto
}

.test:hover{
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    box-shadow: 0px 0px 30px rgb(221, 9, 9);
    filter: brightness(5000%);
    background-color: white;
}

.image::before{
    content: '';
    width: 200px;
    height: 200px;
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
}



/* @keyframes pokeballToPokemon{
    0% {opacity:1}
    100% {opacity:0}
} */
