
*{
    /* border: 2px dotted red; */
    padding: 0;
    margin: 0;
}

body {
    background-color: greenyellow;
}

/* Clases para Landing */

div {
    text-align: center;
    /* background-color: aquamarine; */
}

/* Estilos componente "PokemonInfo" */

/* section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
} */

section p {
    margin: 10px;
}

.expand-pokemon{
    background-color: firebrick;
    width:300px ;
    height: auto
}

.pokeball-animation{
    border-radius: 50%;
    transition: all 1.5s ease-in-out;
    box-shadow: 0px 0px 30px rgb(221, 9, 9);
    filter: brightness(5000%);
    background-color: white;
}

.image-wrapper{
    position: relative;
}


.image-wrapper span:nth-child(1){
    position: absolute;
    top: 50%;
    left: 15%;
    border: 6px solid black ;
    padding: 10px;
    opacity: 0.5;
    border-radius: 10%;
    
    /* Esto es para eliminar y dar ilusion de flecha */
    border-top: none;
    border-right: none;
    
    /* Y transform lo rota */
    transform:rotateZ(45deg);
    
}


.image-wrapper span:nth-child(3){
    position: absolute;
    top: 50%;
    right: 15%;
    border: 6px solid black ;
    width: 20px;
    height: 20px;
    opacity: 0.5;
    border-radius: 10%;
    /* Esto es para eliminar y dar ilusion de flecha */
    border-top: none;
    border-right: none;
    
    /* Y transform lo rota */
    transform:rotateZ(225deg)
}

.image-wrapper span:hover{
    cursor: pointer;
    scale: 1.8;
    opacity: 1;
    transition: all 1.5s;
}

/* @keyframes pokeballToPokemon{
    0% {opacity:1}
    100% {opacity:0}
} */
